.invert {
  height: 50px;
  position: absolute;
  bottom: -130%;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 55px;
    width: auto;
    &:hover {
      height: 65px;
      width: auto;
    }
    &:active {
      height: 61px;
      width: auto;
    }
  }
}
.result {
  font-size: 30px;
  color: white;
  background: rgb(24, 27, 34);
  background: linear-gradient(
    76deg,
    rgba(24, 27, 34, 1) 8%,
    rgba(40, 39, 62, 1) 48%,
    rgba(24, 27, 34, 1) 93%
  );
  padding: 2px 15px;
  border-radius: 10px;
  border: 1px solid #6f909b;
  padding: 0 20px;
  margin-left: 20px;
  margin-right: 10px;
}
.add-img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1200px) {
  .add-img {
    position: absolute;
    bottom: -105%;
    right: 32px;
  }
  .result {
    margin: 0;
    font-size: 2.3vw;
    padding: 0 10px;
  }
}
@media screen and (max-width: 1000px) {
  .result {
    font-size: 23px;
  }
}
@media screen and (max-width: 768px) {
  .add-img {
    position: static;
    margin-left: 5px;
  }
  .result {
    font-size: 32px;
  }
}
@media screen and (max-width: 576px) {
  .result {
    font-size: 27px;
  }
}
@media screen and (max-width: 480px) {
  .result {
    font-size: 21px;
  }
}