* {
  margin: 0;
  box-sizing: border-box;
  text-shadow: 4px 4px 9px rgba(57, 59, 74, 1);
}
h3{
  color: white;
  margin-top: 20px;
}
.background-box {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    24deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 53%,
    rgba(0, 26, 255, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.title {
  font-size: 50px;
  color: white;
}
.box-for-amount {
  width: 100%;
  height: 8%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: white;
}
.amount-input{
  text-align: center;
  width: 90px;
}
.box-for-content-box {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}
.content-box {
  background: rgb(63, 62, 98);
  background: linear-gradient(
    222deg,
    rgba(63, 62, 98, 1) 0%,
    rgba(24, 27, 34, 1) 100%
  );
  width: 45%;
  height: 100%;
  border: 2px solid #6f909b;
  -webkit-box-shadow: 8px 8px 24px 0px rgb(36, 36, 36);
  -moz-box-shadow: 8px 8px 24px 0px rgb(36, 36, 36);
  box-shadow: 8px 8px 24px 0px rgb(36, 36, 36);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.buttons-selection-box {
  width: 100%;
  height: 40%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
}
.choose-button {
  width: 29%;
  height: 100%;
  /* background-color: blue; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  border: 2px solid #6f909b;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: blueviolet;
  }
}
.choosen-button {
  width: 29%;
  height: 100%;
  /* background-color: blue; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  border: 2px solid #6f909b;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border-bottom: 2px solid red;

  &:hover {
    background-color: blueviolet;
  }
}
.first-input-text {
  width: 80%;
  margin-top: 20px;
}
.invert {
  height: 65px;
  position: absolute;
  top: 55%;
  border-radius: 10px;
  cursor: pointer;
  img {
    margin-top: -6px;
    height: 55px;
    width: auto;
    &:hover {
      height: 75px;
      width: auto;
      margin-top: -9px;
    }
    &:active {
      height: 81px;
      width: auto;
      margin-top: -10px;
    }
  }
}
.box-for-result {
  min-width: 10%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result {
  font-size: 30px;
  color: white;
  background: rgb(24, 27, 34);
  background: linear-gradient(
    76deg,
    rgba(24, 27, 34, 1) 8%,
    rgba(40, 39, 62, 1) 48%,
    rgba(24, 27, 34, 1) 93%
  );
  padding: 2px 15px;
  border-radius: 10px;
  border: 1px solid #6f909b;
  padding: 0 20px;
  margin-left: 20px;
  margin-right: 10px;
}
.add-img{
  width: 30px;
  height: auto;
}
.box-for-favorites {
  width: 90%;
  height: 45%;
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  overflow: auto;
}
.header-exchange-box {
  height: 45px;
  width: 95%;
  display: flex;
  border-bottom: 2px solid rgb(105, 104, 104);
  font-weight: 600;
}
.single-exchange-box {
  min-height: 45px;
  width: 95%;
  display: flex;
  position: relative;
  border-bottom: 1px solid black;
}
.exchange-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 8%;
  background-color: rgb(206, 199, 187);
  border-right:1px solid black ;
}
.exchange-code{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  background-color: rgb(182, 174, 182);
}
.exchange-name{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  background-color: rgb(215, 216, 213);
  border-right: 0.5px solid rgb(105, 97, 97) ;
}
.exchange-value{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 12%;
  background-color: rgb(206, 199, 187);
}
.delete-img{
  position: absolute;
  right: -4.3%;
  top: 15%;
  height: 30px;
  width: auto;
  cursor: pointer;
}
.footer {
  background-color: green;
  width: 100%;
  height: 6%;
  position: absolute;
  bottom: 0%;
}
