* {
  margin: 0;
  box-sizing: border-box;
  text-shadow: 4px 4px 9px rgba(57, 59, 74, 0.3);
}
* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff #022740;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #022740;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #c7c7c7;
}
body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  background: url(./Components//assets//crypto\ background.jpg);
}
.inside-top-box-result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.css-1xc3v61-indicatorContainer{
  display: none !important;
}