* {
  margin: 0;
  box-sizing: border-box;
  text-shadow: 4px 4px 9px rgba(57, 59, 74, 1);
}
.h3-favorites {
  color: white;
  margin-top: 20px;
  grid-row: 14 / 19;
  grid-column: 51 / 98;
  text-align: center;
}
.h4-history {
  grid-column: 4 / 49;
  grid-row: 46 / 49;
  color: white;
  text-align: center;
}
.background-box {
  background: url(./Components/assets/background.png);
  height: 100vh;
  width: 100vw;
  display: grid;
  position: relative;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
}
.title {
  font-size: 50px;
  text-align: center;
  color: white;
  grid-column: 1/ 101;
  grid-row: 4 / 11;
}
.box-for-amount {
  /* width: 100%;
  height: 8%;
  margin-top: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: white;
  grid-row: 12 / 18;
  grid-column: 4 / 49;
}
.amount-input {
  text-align: center;
  width: 90px;
}
.box-for-content-box {
  /* width: 100%;
  height: 15%; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* flex-flow: column; */
  grid-column: 4 / 49;
  grid-row: 20 / 34;
}
.content-box {
  background: rgb(63, 62, 98);
  background: linear-gradient(
    222deg,
    rgba(63, 62, 98, 1) 0%,
    rgba(24, 27, 34, 1) 100%
  );
  width: 50%;
  height: 100%;
  border: 2px solid #6f909b;
  -webkit-box-shadow: 8px 8px 24px 0px rgb(36, 36, 36);
  -moz-box-shadow: 8px 8px 24px 0px rgb(36, 36, 36);
  box-shadow: 8px 8px 24px 0px rgb(36, 36, 36);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.buttons-selection-box {
  width: 100%;
  height: 40%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
}
.choose-button {
  width: 29%;
  height: 100%;
  /* background-color: blue; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  border: 2px solid #6f909b;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: blueviolet;
  }
}
/* .choosen-button {
  width: 29%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  border: 2px solid #6f909b;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border-bottom: 2px solid red;

  &:hover {
    background-color: blueviolet;
  }
} */
.first-input-text {
  width: 80%;
  margin-top: 20px;
}
.invert {
  height: 65px;
  position: absolute;
  top: 55%;
  border-radius: 10px;
  cursor: pointer;
  img {
    margin-top: -6px;
    height: 55px;
    width: auto;
    &:hover {
      height: 75px;
      width: auto;
      margin-top: -9px;
    }
    &:active {
      height: 81px;
      width: auto;
      margin-top: -10px;
    }
  }
}
.box-for-result {
  /* min-width: 10%;
  height: 6%; */
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 4 / 49;
  grid-row: 35/40;
}
.inside-top-box-result{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.result {
  font-size: 30px;
  color: white;
  background: rgb(24, 27, 34);
  background: linear-gradient(
    76deg,
    rgba(24, 27, 34, 1) 8%,
    rgba(40, 39, 62, 1) 48%,
    rgba(24, 27, 34, 1) 93%
  );
  padding: 2px 15px;
  border-radius: 10px;
  border: 1px solid #6f909b;
  padding: 0 20px;
  margin-left: 20px;
  margin-right: 10px;
}
.add-img {
  width: 30px;
  height: 30px;
}
.box-for-favorites {
  /* width: 90%;
  height: 45%;
  margin-top: 10px; */
  display: flex;
  flex-flow: column;
  overflow: auto;
  grid-row: 20/ 90;
  grid-column: 51 / 98;
  position: relative;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.377);
  -webkit-box-shadow: 3px 6px 56px -8px rgba(66, 68, 90, 1);
  -moz-box-shadow: 3px 6px 56px -8px rgba(66, 68, 90, 1);
  box-shadow: 3px 6px 56px -8px rgba(66, 68, 90, 1);
}
.header-exchange-box {
  height: 45px;
  width: 100%;
  display: flex;
  border-bottom: 2px solid rgb(105, 104, 104);
  font-weight: 600;
}
.single-exchange-box {
  min-height: 45px;
  width: 100%;
  display: flex;
  position: relative;
  border-bottom: 1px solid black;
}
.exchange-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5%;
  background-color: rgb(206, 199, 187);
  border-right: 1px solid black;
}
.exchange-code {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5%;
  background-color: rgb(182, 174, 182);
  border-right: 0.5px solid black;
}
.exchange-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 34%;
  background-color: rgb(215, 216, 213);
  border-right: 0.5px solid rgb(105, 97, 97);
}
.exchange-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 12%;
  background-color: rgb(206, 199, 187);
  border-right: 0.5px solid rgb(105, 97, 97);
}
.exchange-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 216, 213);
  height: 100%;
  width: 5%;
}
.delete-img {
  height: 30px;
  width: auto;
  cursor: pointer;
}
.box-for-history {
width: 100%;
height: 75%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.377);
  -webkit-box-shadow: 3px 6px 56px -8px rgba(66, 68, 90, 1);
  -moz-box-shadow: 3px 6px 56px -8px rgba(66, 68, 90, 1);
  box-shadow: 3px 6px 56px -8px rgba(66, 68, 90, 1);
}
.box-for-legend {
  background-color: cadetblue;
  grid-row: 90 / 93;
  grid-column: 51 / 98;
}
.footer {
  background-color: green;
  width: 100%;
  height: 6%;
  position: absolute;
  bottom: 0%;
}
